CHAT_MODEL=openai/gpt-4o-mini
CHAT_URL=https://routerai.ru/api/v1
CHAT_API_KEY=...
CHAT_TEMPERATURE=0.0

EMBEDDING_MODEL=openai/text-embedding-3-small
EMBEDDING_URL=https://routerai.ru/api/v1
EMBEDDING_API_KEY=...