python-dotenv

langchain
langchain-openai
langchain-ollama
langchain-community

langchain-text-splitters
unstructured[docx,pdf] # for documents parsing
ddgs # for duckduckgo web search
wikipedia # for wikipedia web search